@page "/digits"

<PageTitle>Digits</PageTitle>

<h1>Digits</h1>

<div style="display:flex; justify-content:space-between">
	<div class="digit" @onmouseup="()=>Values[7]=Values[7]==0?1:0">@Values[7]</div>
	<div class="digit" @onmouseup="()=>Values[6]=Values[6]==0?1:0">@Values[6]</div>
	<div class="digit" @onmouseup="()=>Values[5]=Values[5]==0?1:0">@Values[5]</div>
	<div class="digit" @onmouseup="()=>Values[4]=Values[4]==0?1:0">@Values[4]</div>

	<div class="digit" @onmouseup="()=>Values[3]=Values[3]==0?1:0">@Values[3]</div>
	<div class="digit" @onmouseup="()=>Values[2]=Values[2]==0?1:0">@Values[2]</div>
	<div class="digit" @onmouseup="()=>Values[1]=Values[1]==0?1:0">@Values[1]</div>
	<div class="digit" @onmouseup="()=>Values[0]=Values[0]==0?1:0">@Values[0]</div>

</div>

@code {
	public int[] Values { get; set; } = new int[8]; 
}
